html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* border: 1px solid black; */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    line-height: 1.5em;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.content {
    margin: 40px auto;
    max-width: 700px;
    padding: 20px;
    background-color: rgb(232, 212, 252);
    border: #333 solid 2px;
}

.nav {
    /* display: block; */
    text-align: center;
    margin: 0px auto;
}

.content > * {
    background-color: rgb(142, 221, 247);
    padding: 10px;
    border-radius: 5px;
}

.content img {
    border: solid 2px rgb(249, 131, 131);
    display: block;
    width: 400px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0;
}

ul {
    list-style: none;
}

ol li {
    margin-left: 18px;
}

li {
    margin: 5px 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #d0d0d0;
    padding: 5px;
    margin-bottom: 5px;
    border:solid 1px rgba( 0, 0, 0, 0.5);
    border-radius: 5px;
}

h2 {
    text-align: center;
}